@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/Ubuntu-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu';
  src: url('assets/fonts/Ubuntu-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

// эти два шрифта поддерживаю кирилицу
@font-face {
  font-family: 'Work Sans';
  src: url('assets/fonts/WorkSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('assets/fonts/WorkSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

// эти шрифты только для английского языка
@font-face {
  font-family: 'Work Sans';
  src: url('assets/fonts/WorkSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('assets/fonts/WorkSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('assets/fonts/WorkSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
