@use 'sass:color';
@use 'var';

.app {
  font-size: 16px;
}

.header {
  padding: 25px 0;
  background-color: var.$brand-color;
  box-shadow: var.$box-shadow-default;

  &-container {
    align-items: center;
    justify-content: space-between;
  }

  &-buttons-wrapper {
    align-items: center;
    gap: 25px;
  }

  &-button {
    font-family: Ubuntu;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25em;

    &.active {
      background-color: var.$accent-color;
    }
  }
}

.logo {
  color: var.$light-color;
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 300;
}

.auth {
  height: calc(100vh - 105.5px);

  &-container {
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &-wrapper {
    position: relative;
    min-width: 500px;
    padding: 50px 40px;
  }

  &-title {
    margin: 0 auto;
    margin-bottom: 35px;
    color: var.$dark-color;
    text-align: center;
  }

  &-form {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    font-family: Ubuntu;
  }

  &-form-inner {
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
  }

  &-label {
    position: relative;
    display: flex;
    align-items: center;
    gap: 18px;
    color: var.$text-color;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.25em;
  }

  &-button-wrapper {
    padding-left: 74px;
  }
}

.account {
  &-wrapper {
    align-items: center;
    padding-top: 44px;
    margin-bottom: 50px;
  }

  &-title {
    margin-right: 35px;
  }

  &-sort {
    margin: 0;

    font-size: 16px;
    line-height: 1.5em;

    &.choices[data-type*='select-one']::after {
      right: 16px;
      border-color: var.$text-color transparent transparent transparent;
    }

    &.choices[data-type*='select-one'].is-open::after {
      border-color: transparent transparent var.$text-color;
    }

    & .choices__inner {
      height: 44px;
      border-radius: var.$min-border-radius;
      border-color: var.$brand-color;
      background-color: var.$light-color;
    }

    & .choices__item.choices__item--selectable {
      color: var.$text-color-light;
      font-size: 16px;
      line-height: 1.5em;

      &.choices__placeholder {
        opacity: 1;
      }
    }

    & .choices__list--dropdown,
    .choices__list[aria-expanded] {
      margin-top: 2px;
      border-radius: var.$min-border-radius;
      box-shadow: var.$box-shadow-default;
    }

    & .choices__list--dropdown .choices__item--selectable.is-highlighted,
    .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
      background-color: var.$accent-color;
    }

    & .choices__list--single {
      padding: 0 2px;
    }
  }

  &-button {
    align-items: center;
    gap: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-left: auto;
    line-height: 1.25em;
  }

  &-icon-wrapper {
    align-items: center;
    width: 24px;
    height: 24px;
  }

  &-card-wrapper {
    gap: 50px 70px;

    & .card {
      grid-column: 4 span;
    }
  }
}

.card {
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  padding: 22px;
  background-color: var.$light-color;
  border-radius: var.$cards-border-radius;
  box-shadow: var.$box-shadow-default;

  &-title {
    margin: 0;
    color: var.$text-color;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2em;
  }

  &-balance {
    color: var.$text-color;
    font-size: 14px;
    line-height: 1.4em;
  }

  &-inner {
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &-transaction {
    margin-top: auto;
    font-family: 'Work Sans';
    color: var.$dark-color;
    font-size: 13px;

    &-title {
      margin: 0;
      font-weight: 700;
    }

    &-date {
      font-weight: 400;
    }
  }

  &-button {
    padding: 16px 21.5px;
    font-weight: 500;
  }
}

.account-info {
  &-inner {
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
  }

  &-title-button-wrapper {
    align-items: center;
    justify-content: space-between;
  }

  &-wrapper {
    align-items: center;
    justify-content: space-between;
  }

  &-title {
    margin: 0;
    font-family:
      Work Sans,
      sans-serif;
    font-weight: 400;
    font-size: 34px;
  }

  &-balance-wrrapper {
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    font-family:
      Work Sans,
      sans-serif;
  }

  &-balance-title {
    margin-right: 20px;
  }

  &-balance-value {
    font-weight: 400;
    font-size: 20px;
  }
}

.details {
  padding-top: 50px;

  &-container {
    flex-direction: column;
    gap: 50px;
  }

  &-middle {
    gap: 50px;
    height: 288px;
  }

  &-transfer {
    max-width: 606px;
  }

  &-balance-dinamic {
    max-width: 684px;
  }
}

.transfer {
  &-form {
    position: relative;
    flex-direction: column;
    gap: 25px;

    & .warning-display {
      top: -10px;
      left: 38%;
      width: max-content;
      transform: none;
    }
  }

  &-form-inner {
    flex-direction: column;
    align-items: flex-end;
    gap: 25px;
  }

  &-input {
    padding: 8px 16px;
  }

  &-label {
    position: relative;
    align-items: center;
    gap: 18px;
    line-height: 1.25em;
  }

  &-button-wrapper {
    justify-content: flex-end;
  }

  &-button {
    align-items: center;
    gap: 10px;
    margin-right: 138px;
    font-weight: 500;
  }
}

.balance-dinamic {
  position: relative;
  width: 100%;
  padding-bottom: 20px;

  &-link {
    &::before {
      content: '';
      position: absolute;
      inset: 0;
    }
  }
}

.history {
  padding-top: 50px;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  & .wrapper {
    width: 100%;
    height: 288px;
    padding: 25px 98px;
  }
}
