$brand-color: #116acc;
$brand-color-light: #5897db;
$brand-color-dark: #0c4a8f;

$light-color: #fff;
$dark-color: #000;

$secondary-btn-light: #cfe1f5;
$secondary-btn-dark: #a0c3eb;
$secondary-btn-border-active: #a0c3eb;

$text-color: #182233;
$text-color-light: #374151;
$text-color-warnning: #fd4e5d;
$text-color-success: #76ca66;
$placeholder-color: #6b7280;

$bg-light-color: #f3f4f6;
$bg-dark-color: #e5e5e5;

$border-color: #9ca3af;
$input-hover-bg: #ebeff7;

$accent-color: #a0c3ff;
$error-color: #ba0000;
$warning-color: #fbc756;
$warning-bg-color: #f4efe6;
$success-color: #4cce77;

$container-offset: 50px;
$container-width: 1440px;

$sections-border-radius: 50px;
$cards-border-radius: 9px;
$min-border-radius: 7px;

$box-shadow-default: 0px 5px 20px 0px rgba(0, 0, 0, 25%);

$transition-timing-function: ease-in-out;
$transition-duration: 0.3s;
